openapi: 3.0.2

servers:
  - url: 'https://api.solvice.io/'
    description: Production cluster

info:
  version: "1.1"
  title: OnStock API
  x-logo:
    url: 'logo.png'
    altText: OnStock API
  description: |

    Welcome to the Solvice API! You can use our API to access Solvice API endpoints,
    which can get information on your solved jobs,
    their statuses and of course post new solve jobs.

    # Inventory Optimisation


    OnStock is a solver engine for solving multi-echelon inventory optimisation problems through the Solvice Optimisation API Platform.

    Creating optimal inventory planning for your multi-echelon supply chain, based on the characteristics of your network and your customers' demand.


    The Solvice Inventory Optimisation API consists of the following RESTful web services:
     * [Base Stock API](#section/Capacity-planning)
     * [RQ Planning API](#section/Shift-scheduling)

    ### Getting started
     1. To use one of these APIs, you require an API key. Sign up [here](https://www.solvice.io/onstock/register) to get one.
     2. Read the documentation of the desired API below.
     3. Start using the API.

    ### Overview

    > Test our API in just one command

     ```shell
     curl https://demo:demo@api.solvice.io/demo/base-stock | \
     curl https://demo:demo@api.solvice.io/v1/solve  \
          -X POST -H "Content-Type: application/json" -d @-
     ```
     >You can copy and paste the above in your terminal for a working example. The example uses a randomly generated base stock problem.



     The Solvice API is super simple! Basically, it holds one [/solve](#solve-endpoint)  endpoint for sending an asynchronous solve request to for a certain optimization problem and it holds one [/jobs/:job_id/solution](#jobs-endpoint)  endpoint for retrieving the solved job asynchronous. That's it!
     The only thing you have to manage is the actual payload for the solve request.



    The OnShift API is as simple as it gets. There are only several important endpoints:

     1. Solving an OnStock optimisation problem is as simple as an POST to our `/solve` endpoint.
     2. The Job `id` is returned.
     3. Check for the status of that job wether it is solved yes with the GET `/jobs/<id>/status` endpoint.
     4. If so, then fetch the solution with a simple GET on `/jobs/<id>/solution`

    Thats's it! Could not be easier.

    To use our Workforce Optimisation API commercially, you can subscribe to a paid plan [here](https://www.solvice.io/onstock/api#pricing).

    ### Problems or Questions?
    If you have problems or questions, we offer you the following options:
     * [FAQ](https://www.solvice.io/faq)
     * [Open ticket]()
     * [Contact us](https://www.solvice.io/contact)


tags:
  - name: Inventory Optimisation
    description: |

      OnStock can solve different network inventory placement problems.

      ## Base Stock planning
      Creating an optimal inventory policy for your supply chain based on the demand and supply characteristics of your network.

      ### Network characteristics
      The input requires you to provide:

       - the nodes in your network

      #### Node
      A node definition should characterize the position of the node in the network, the processing steps that are taken at this node and 
      the demand characteristics (if a node supplies an external demand.)

      ```json
      {
          "name": "Final assembly",
          "index": 0,
          "nominalTime": 4,
          "cost": 8000,
          "successors": [],
          "avgCustomerDemand": 5,
          "sdCustomerDemand": 3
      }
      ```

      #### ServiceTimeAssignments

      The service time assingments represent the solution. In the GSM (Guaranteed Service Model) definition of the multi-echelon 
      inventory placement problem the outgoing service time in each node is to be decided. From this outgoing service time, the holding cost 
      for each node follows.
      

      ```json
      {
         "id": 1,
         "node": "Final assembly",
         "outgoingServiceTime" : 0
       }
      ```

      ### Output

      Simply fetch the solution in the `jobs/:id/solution` endpoint and receive the GSM outgoingServiceTime assignments.
      

      ```json
      [
        {
         "id": 1,
         "node": "Final assembly",
         "outgoingServiceTime" : 0
       }
      ]
      ```

  - name: Jobs
    description: The Jobs endpoint allows to retrieve information of a posted request, its status, the score or even detailed statistics.


  - name: Inventory placement
    description: |
      It is possible to generate the planning by doing a `solve` or either `evaluate` a current solution by doing a `evaluate`.
      Post a new solve request to the Inventory Optimisation Engine.

      The optimisation engine can accept different problems:
       - BASE_STOCK: `BaseRequest`
       - RQ_PLANNING: `RQRequest`

  - name: Solution
    description: Retrieve the optimal solution to the problem.
  - name: FAQ
    description: |




security:
  - ApiKey: []

paths:
  /solve:
    post:
      tags:
        - Inventory placement
      summary: Solve problem
      operationId: solve
      parameters:
        - in: query
          name: seconds
          example: 20
          schema:
            type: integer
          description: The number of seconds you give the solver to optimise the problem. By default, the solver decides.

      description: |
        Endpoint for solving inventory optimisation problem.
        There are multiple possible problems:
         1. Base stock placement: `BASE_STOCK` solver to send a `BaseRequest`
         2. RQ planning: `RQ_PLANNING` solver to send a `RQRequest`
      requestBody:
        description: |
          Payload for all information concerning the inventory problem.
          This includes:
           - the nodes
        required: true
        content:
          application/json:
            examples:
              BASE_STOCK:
                summary: Base stock placement
                value:
                  $ref: ./onstock/examples/base.json
              RQ_PLANNING:
                summary: PQ planning
                value:
                  $ref: ./onstock/examples/rq.json
            schema:
              anyOf:
                - $ref: '#/components/schemas/BaseRequest'
                - $ref: '#/components/schemas/RQRequest'


      responses:
        '200':
          description: solve job accepted to queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusJob'
        '400':
          $ref: '#/components/responses/WrongFormat'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /evaluate:
    post:
      tags:
        - Scheduling
      summary: Evaluate problem
      operationId: evaluate
      description: Endpoint for evaluating optimisation problem.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/BaseRequest'
                - $ref: '#/components/schemas/RQRequest'

      responses:
        '200':
          description: Job valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusJob'
        '400':
          $ref: '#/components/responses/WrongFormat'
        '401':
          $ref: '#/components/responses/Unauthorized'

  '/jobs/{jobId}':
    get:
      tags:
        - Jobs
      summary: Job
      operationId: getJob
      description: When posting a new solve request, this job can be checked again under this endpoint.
        In fact, it should be the entire request posted as-is.
      parameters:
        - in: path
          name: jobId
          required: true
          description: The job ID.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: return a job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusJob'
        '404':
          description: 'Job not found'

  /v1/stats/{jobId}:
    get:
      tags:
        - Jobs
      summary: Statistics
      operationId: getStats
      parameters:
        - in: path
          name: jobId
          required: true
          description: The job ID.
          schema:
            type: string
            format: uuid
      description: |
        Returns the information on why a job has been solved the way it's been.
        Information includes specific unresolved objects. Want to know how it is optimised?
        This endpoint lets you know what rules have been overruled.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        '404':
          description: 'Job not found'

  /jobs/{jobId}/status:
    get:
      tags:
        - Jobs
      parameters:
        - name: jobId
          in: path
          description: Job ID
          required: true
          schema:
            type: string
            format: uuid
      summary: Get a status
      operationId: getStatus
      responses:
        '200':
          description: get job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusJob'
        '400':
          description: bad input parameter

  /jobs/{jobId}/solution:
    get:
      tags:
        - Solution
      parameters:
        - name: jobId
          in: path
          description: Job ID
          required: true
          schema:
            type: string
            format: uuid
      summary: Get a solution
      operationId: getSolution
      responses:
        '200':
          description: Valid Job
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BaseRequest'
                  - $ref: '#/components/schemas/RQRequest'
                discriminator:
                  propertyName: solver
                  mapping:
                    base: '#/components/schemas/BaseRequest'
                    rq: '#/components/schemas/RQRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'


components:
  schemas:
    BaseRequest:
      allOf:     # Combines the SolveJob and the inline model
        - $ref: '#/components/schemas/SolveJob'
        - type: object
          required:
            - nodes
          properties:
            nodes:
              type: array
              description: Nodes characteristics from your network.
              items:
                $ref: '#/components/schemas/Node'
            assignments:
              type: array
              description: Pre made assignments that the solver should take into account
              items:
                $ref: '#/components/schemas/ServiceTimeAssignment'


    RQRequest:
      allOf:     # Combines the SolveJob and the inline model
        - $ref: '#/components/schemas/SolveJob'
        - type: object
          required:
            - nodes
          properties:
            shifts:
              type: array
              description: Nodes characteristics from your network.
              items:
                $ref: '#/components/schemas/Node'

    SolveJob:
      type: object
      required:
        - solver
      properties:
        solver:
          $ref: '#/components/schemas/Solver'
        hook:
          type: string
          format: uri
          description: Webhook returns solution status after solving in the form of a POST request to the uri given.


    Error:
      type: object
      properties:
        error:
          type: string
        description:
          type: string

    ErrorCode:
      type: object
      properties:
        errorCode:
          type: string
        explanation:
          type: string
        line:
          type: integer
        column:
          type: integer

    Status:
      type: string
      enum:
        - QUEUED
        - SOLVING
        - SOLVED
        - ERROR
      example: "SOLVING"
      description: The current status of the job. After arriving at the solver engine, it gets `QUEUED` to the right solver, then processed (`SOLVING`) and when finished the status is `SOLVED`.

    Solver:
      type: string
      enum:
        - BASE_STOCK
        - RQ_PLANNING
      example: "BASE_STOCK"

    Score:
      description: The score of a solution shows how good this solution is w.r.t all the constraints.
      type: object
      properties:
        hardScore:
          type: integer
          description: The score of the constraints that are hard. This should be 0 in order to be feasible.
        mediumScore:
          type: integer
          description: The score of the constraints that are medium.
        softScore:
          type: integer
          description: The score of the constraints that are soft.
        feasible:
          type: boolean
          description: Feasibility check on hard constraints. Check unresolved parameter if you cannot reach feasibility.

    Node:
      description: The characteristics of the nodes describing your network.
      type: object
      required:
        - name
        - nominalTime
      properties:
        name:
          type: string
          example: "FINAL ASSEMBLY"
          description: Unique name for the network node.
        nominalTime:
          type: integer
          description: The processign time for this node

    ServiceTimeAssignment:
      type: object
      properties:
        id:
          type: integer
          description: Unique id 
        outgoingServiceTime:
          type: integer
        node:
          type: string
          description: the node for which the outgoingServiceTime is given
      

    Stats:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        goals:
          type: array
          description: List of unresolved goals.
          items:
            type: object
            properties:
              goal:
                type: string
                description: Goal name
              weight:
                type: integer
                description: Weight total for goal.
              conflicts:
                type: array
                items:
                  type: object
                  properties:
                    weight:
                      type: integer
                      description: Specific weight for unresolved goal reasons.
                    reasons:
                      type: array
                      items:
                        type: string
    JobId:
      type: string
      format: uuid
      description: Job ID


    SolutionJob:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/JobId'
        solver:
          $ref: '#/components/schemas/Solver'
        status:
          $ref: '#/components/schemas/Status'
        score:
          $ref: '#/components/schemas/Score'


    StatusJob:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/JobId'
        solver:
          type: string
          description: Solver type
        status:
          $ref: '#/components/schemas/Status'

  securitySchemes:

    ApiKey:
      type: apiKey
      in: header
      name: Authorization

  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    WrongFormat:
      description: Wrong format
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/components/schemas/ErrorCode'



